
.image-bg-fixed-height {
 // background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
  background-color: #C00000;
  height: auto;
}

//.contact-container{
//  padding-top: 10em;
//  padding-bottom: 5em;
//}

.contact-title{
  font-family: $fonte-padaro;
  font-size: 54px;
  font-weight: 300;
  line-height: 64px;
  color: #FFFFFF;
  text-align: center;
}

.contact-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 1em;
  //padding-bottom: 3em;
}

.contact-button{
  background: transparent;
  font-family: $fonte-padaro;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  position: relative;
  color: #fff;
  margin-left: 2em;
  width: 6em;
  float: right;
  height: 42px;
  border: 1px solid #FFFFFF;
}

//.contact-map, .contact-form-item{
//  height: 448px;
//}

#back-to-top a, a:hover{
  background: none;
  text-decoration: none;
}

.form-control{
  border-radius: 0%;
  border: none;
  background-color: rgba(255,255,255,0.6);
  //fonte
  font-family: $fonte-padaro;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  line-height: 22px;
  color: #000000;
  opacity: 100;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;

  bottom: 3em;
}


.form-control::placeholder{
  color: #000000;
  opacity: 100;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.form{
  margin-left: 0;
  padding-right: 33px;
}

.contact-endereco{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 1em;
}


.contact-number{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #FFFFFF;
  padding-top: 1em;
}