#footer-enterprise-idenfier{
font-family: "San Francisco";
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  text-align: center;
  opacity: 0.25;
}

.footer-copyrigth{
  font-family: $fonte-padaro;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #666666;
  padding-top: 1em;
}

//.social-nav{
//  margin-left: 8em;
//}

.social-nav li{
  display: inline;
  font-size: 25px;
  //margin-left: 0.6em;
  text-align: center;
}

.footer-hr{
  box-sizing: border-box;
  height: 2px;
  opacity: 0.1;
  border: 1px solid #000000;
  //margin-left: 9em;
  //margin-right: 9em;
  //margin-bottom: 2em;
}