//minimus
@media only screen and (max-width: 30em) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0%;
  }

  .navbar-brand > img {
    display: block;
    height: 2em;
  }


  //Topo
  .image-bg-fluid-height {
    width: 44em;
    height: auto;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 131%;
    height: 39em;
    line-height: 1;
    width: 105%;
    margin-right: 31px;
  }


  #topo-title-head {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: inherit;
    color: #FFFFFF;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    top: -223px;
    left: 10px;
    text-align: left;
    width: 84%;
  }


  #topo-text-head {
    opacity: 0.6;
    /* font-family: "Source Sans Pro", sans-serif; */
    /* font-size: 22px; */
    /* font-weight: 300; */
    /* line-height: 30px; */
    color: #ffffff;
    width: 100%;
    /* top: 112px; */
    margin-top: -13em;
    position: relative;
    left: 1em;
  }

  //products
  .products{
    min-width: 193%;
  }

  .products-buttons{
    max-width: 70%;
    display: inline;
  }


  //about
  .img-responsive {
    display: block;
    max-width: 193%;
    height: auto;
  }
  .about-title{
    padding-left: 3em;}

  .about-slogan{
    padding-left: 3em;
    text-align: center;
    margin-right: -115px;
  }

  .about-description{
    min-width: 201%;
  }

  //contact

  .contact{width: 100%;
    min-width: 192%;
  }


  //calculator
  .calculator{
    min-width: 193%;}

  #section-buttons-calculator{
    padding-right: 7em;
  }

  .calculator-description{
    padding-left: 1em;
  }
  #calculator-input{
    float: none;
  }

  //footer
  #footer-enterprise-idenfier{
    padding-left: 6em;
  }

  .material-icons{
    padding-left: 8em;
  }


} /* 592px */
@media only screen and (max-width: 41em) {
  .navbar-brand > img{
    height: 2em;
    margin-left: -5em;

  }

  .carousel {
    min-width: 129%;
  }
} /* 656px */

@media only screen and (max-width: 30em) and (orientation: landscape) {
  .image-bg-fluid-height {
    width: 66.1em;
  }

  #calculator-input{
    float: none;
  }
}

@media only screen and (max-width: 47em) {
  .navbar-brand > img{
    height: 2em;
    margin-left: -5em;
  }

  .carousel {
   // min-width: 129%;
  }

  //.image-bg-fluid-height{
  //  width: 66.1em;
  //}

  #topo-title-head{
    position: relative;
    top: -216px;
    left: 10px;
    width: 100%;
    font-size: 30px;
  }

  #topo-text-head{
    margin-top: -10em;
    position: relative;
    left: 1em;
  }

  #section-buttons-calculator{
    padding-right: 12em;
  }

  #calculator-input{
    float: none;
  }

  .material-icons {
    padding-left: 11em;
  }



} /* 752px */


@media only screen and (max-width: 68em) { } /* 1088px */
@media only screen and (max-width: 82em) { } /* 1312px */
@media only screen and (max-width: 100em) { } /* 1600px */

//maximus

@media only screen and (min-width: 37em) { } /* 592px */
@media only screen and (min-width: 41em) { } /* 656px */
@media only screen and (min-width: 47em) { } /* 752px */
@media only screen and (min-width: 68em) { /* 1088px */
  .form-control{
    width: 404px;
    margin-left: -137px;
    margin-bottom: 1.3em;
    color: #000000;
  }
  #button-calculator{
    float: right;
    top: 3em;
    margin-top: 8rem;
    line-height: 41px;
  }

  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 0%;
  }


}
@media only screen and (min-width: 82em) { //1312px
  .navbar-inverse {
    background-color: #A30202;
    border-color: #A30202;
    height: 6em;
  }

  .brand-frigomil {
    width: 259px;
    height: 60px;
  }

  //footer
  .material-icons{
    padding-left: 19em;
  }
} /* 1312px */
@media only screen and (min-width: 100em) {/* 1600px */

  .form-group{
    width: 404px;
    margin-left: -137px;
  }


}
